<h1>Login</h1>
    <%=msg  %>
<form action="" method="post">
    Username: <input type="text" name="username"> <br>
    Password: <input type="password" name="passwd"> <br>
    <button type="submit">Login</button>
</form>