<h1>Register</h1>
    <%= msg %>
<form action="" method="post">
    Username: <input type="text" name="username"> <br>
    Password: <input type="password" name="passwd"> <br>
    Confirm password: <input type="password" name="passwd2"> <br>
    Email: <input type="email" name="email"> <br>
    <button type="submit">Register</button>

</form>